<div class="jumbotron">
  <h1>Antagningsstatistik</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><i class="fa fa-bar-chart" aria-hidden="true"></i>
      Antagning</h4></div>
      <div class="panel-body">
        <p>{{ht15[0]}}</p>
        <p>{{ht16[0]}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12">lad</div>
</div>
